---
layout: default
title: Hardware
home: passive
research: passive
projects: active
activities: passive
description: Hardware Projects of Lilly Chin
---
<!-- Portfolio pictures should fit 700 x 300  -->
<!-- TODO: Get pictures of design notebook -->
<!-- TODO: Research like this: http://www.oliverresearch.com/ - just basically each paper summarize -->
<h2>Note: Most of this website is still under construction.</h2>

<div class = "best-projects">
	<h3>Notable Projects</h3>
	{% include project-blurb.html inDepth="MASLAB.html" preview="MASLAB-preview.png" title="MASLAB Competition" subtitle="Built in 2016" description="Cube-stacking completely autonomous robot built in a month"%}

	{% include project-blurb.html inDepth="yoyo.html" preview="yoyo-preview.jpg" title="2.008 - Yoyos" subtitle="Taken in Fall 2015" description="Design and manufacture 50 yoyos by injection-molding and thermoform"%}

	{% include project-blurb.html inDepth="makemit2015.html" preview="MakeMIT2015-preview.jpg" title="MakeMIT - Ceiling Tile Painter" subtitle="Built in Feb. 2015" description="Programmable gantry painter built in 24 hours"%}

	{% include project-blurb.html inDepth="2_00.html" preview="skynet-preview.jpg" title="2.00 - Skynet / SleepCycle" subtitle="Taken in Spring 2015" description="Balloon popping competition / product design for a bikepacker"%}

	{% include project-blurb.html inDepth="makemit2014.html" preview="MakeMIT2014-preview.jpg" title="MakeMIT - Guitar-Playing Robot" subtitle="Built in Feb. 2014 <br> First Place Winner" description="Strums with solenoids, frets with rack and pinion. Built in 24 hours"%}
</div>

<div class = "other-projects">
<h3>Other Projects</h3>
	<ul>
		<li> <!-- <a href="/projects/hardware" title = "Hardware"> -->6.131: Audio Equalization Board - Fall 2015</li>
		<li> <!-- <a href="/projects/hardware" title = "Hardware"> -->6.115: Virtual Reality Game - Spring 2015</li>
		<li> <!-- <a href="/projects/hardware" title = "Hardware"> -->DerpSkates: Jan. 2015</li>
		<li> <a href="/projects/hardware/FIRSTRobotics.html" title = "FIRST Robotics">FIRST Robotics: 2007-2013</a> </li>
	</ul>
</div>