<div class="row">
    <a href="/img/{{ include.img1 }}" data-toggle="lightbox" data-gallery="{{ include.gallery }}" data-title="{{ include.title1 }}" data-footer="{{ include.caption1 }}" class="col-sm-3">
        <img src="/img/{{ include.img1 }}" class="img-responsive">
    </a>

    <a href="/img/{{ include.img2 }}" data-toggle="lightbox" data-gallery="{{ include.gallery }}" data-title="{{ include.title2 }}" data-footer="{{ include.caption2 }}" class="col-sm-3">
        <img src="/img/{{ include.img2 }}" class="img-responsive">
    </a>

    <a href="/img/{{ include.img3 }}" data-toggle="lightbox" data-gallery="{{ include.gallery }}" data-title="{{ include.title3 }}" data-footer="{{ include.caption3 }}" class="col-sm-3">
        <img src="/img/{{ include.img3 }}" class="img-responsive">
    </a>

    <a href="/img/{{ include.img4 }}" data-toggle="lightbox" data-gallery="{{ include.gallery }}" data-title="{{ include.title4 }}" data-footer="{{ include.caption4 }}" class="col-sm-3">
        <img src="/img/{{ include.img4 }}" class="img-responsive">
    </a>
</div>