<div class="header">
	<ul class="nav nav-pills pull-right">
		<li><a href="/files/LillyChin-Resume.pdf" title="Resume">Resume</a></li>
		<li><a href="/files/LillyChin-CV.pdf" title="CV">CV</a></li>
       <!--  <li class="dropdown"><a href="/experience" class="dropdown-toggle" data-toggle="dropdown" title="Experience">Experience <span class="caret"></span></a>
			<ul class="dropdown-menu">
                <li><a href="/experience/leadership">Leadership</a></li>
                <li><a href="/experience/research">Research</a></li>
                <li><a href="/experience/teaching">Teaching</a></li>
                <li><a href="/experience/work">Work</a></li>
	        </ul>
        </li> -->
		<li class="dropdown"><a href="/projects" class="dropdown-toggle" data-toggle="dropdown" title="Projects">Projects <span class="caret"></span></a>
			<ul class="dropdown-menu">
                <li><a href="/projects/art">Art</a></li>
                <li><a href="/projects/hardware">Hardware</a></li>
                <li><a href="/projects/software">Software</a></li>
                <li><a href="/projects/writing">Writing</a></li>
	        </ul>
        </li>
	</ul>
	<h3 class="text-muted"><a href="/">Lilly Chin</a></h3>
</div> <!-- /header -->
