<div class="header">
	<ul class="nav nav-pills pull-right">
		<li><a href="/files/LillyChin-Resume.pdf" title="Resume">Resume</a></li>
		<!-- <li class="{{ page.research }}"><a href="/research" title="Research">Research</a></li> -->
		<li class="dropdown"><a href="/projects" class="dropdown-toggle" data-toggle="dropdown" title="Projects">Projects <span class="caret"></span></a>
			<ul class="dropdown-menu">
                <li><a href="/projects/hardware">Hardware</a></li>
                <li><a href="/projects/software">Software</a></li>
                <li><a href="/projects/writing">Writing</a></li>
	        </ul>
        </li>
		<!-- <li class="{{ page.activities }}"><a href="/activities" title="Activities">Activities</a></li> -->
	</ul>
	<h3 class="text-muted"><a href="/">Lilly Chin</a></h3>
</div> <!-- /header -->

<!-- Things to include (??) 
- Papers
- Leadership / Teaching
-->
