---
layout: default
title: Art
home: passive
research: passive
projects: active
activities: passive
description: Art of Lilly Chin
---
<h3>Art</h3>
<p>Sometimes I make things more for aesthetics than for engineering. For more literary pieces, check out my <a href="/projects/writing" title = "Writing">writing</a></p>

<ul data-toc="div.container" data-toc-headings="h4, h5"></ul>

<center><hr width="75%"></center>

<h4>Glassblowing</h4>
<p>I was very fortunate to get selected for the beginner's glassblowing class in Fall 2016 at MIT. This class is heavily oversubscribed and lottery dependent, so I had been trying for the past 4 years trying to get into the class. I spent 8 weeks learning how to blow glass, working up from paperweights to cups to pulled-neck vases.</p>

<button data-target="#glassblowing-gallery" class="btn btn-default" data-toggle="collapse" aria-pressed="false">Toggle Gallery</button>

<div id="glassblowing-gallery" class = "gallery container collapse">
	<br>
	{% include gallery-row-4.html gallery="glassblowing" img1="glassPenguin_001.jpg" title1 = "Penguin Paperweight" caption1 = "" img2 = "glassPenguin_002.jpg" title2 = "Penguin Paperweight" caption2 = "" img3 = "glassPenguin_003.jpg" title3 = "Penguin Paperweight" caption3 = ""	img4 = "glassWeight3_001.jpg" title4 = "Paperweight" caption4 = "" %}
	{% include gallery-row-4.html gallery="glassblowing" img1 = "glassWeight3_002.jpg" title1 = "Paperweight" caption1 = "" img2 = "glassWeight3_003.jpg" title2 = "Paperweight" caption2 = "" img3 = "glassWeight2_001.jpg" title3 = "Paperweight" caption3 = ""	img4 = "glassWeight2_002.jpg" title4 = "Paperweight" caption4 = "" %}
	{% include gallery-row-4.html gallery="glassblowing" img1 = "glassWeight2_003.jpg" title1 = "Paperweight" caption1 = "" img2 = "glassWeight1_001.jpg" title2 = "Paperweight" caption2 = "" img3 = "glassWeight1_002.jpg" title3 = "Paperweight" caption3 = ""	img4 = "glassWeight1_003.jpg" title4 = "Paperweight" caption4 = "" %}
	{% include gallery-row-4.html gallery="glassblowing" img1 = "glassOrnament1_001.jpg" title1 = "Ornament" caption1 = "" img2 = "glassOrnament1_002.jpg" title2 = "Ornament" caption2 = "" img3 = "glassOrnament1_003.jpg" title3 = "Ornament" caption3 = ""	img4 = "glassOrnament2_001.jpg" title4 = "Ornament" caption4 = "" %}
	{% include gallery-row-2.html gallery="glassblowing" img1 = "glassOrnament2_002.jpg" title1 = "Ornament" caption1 = "" img2 = "glassOrnament2_003.jpg" title2 = "Ornament" caption2 = "" %}
</div>

<center><hr width="50%"></center>

<h4>Woodworking</h4>
<h5>2.75 - Kinematic Coupled Tea Set</h5>
<p></p>

<center><hr width="50%"></center>

<h4>Blacksmithing</h4>
<p></p>

<center><hr width="50%"></center>

<h4>Metal Projects</h4>
<h5>2.670 - Flashlight</h5>
<h5>2.008 - Paperweight</h5>
<p></p>

