---
layout: default
title: Handed Shearing Auxetics

research: active
projects: passive

description: Handed Shearing Auxetics
---
<div class="text-center">
	<h1>{{page.description}}</h1>

	<img class="img-fluid" src="/img/2415_010.jpg" height="300">
	<br>
	<br>

	<p>I did FIRST Robotics for several years, starting off in FIRST Lego League in middle school (2007 - 2009) and then FIRST Robotics Competition (FRC) in high school (2010 - 2013), eventually becoming team co-captain and coding team captain.</p>

	<p>FIRST is by far what inspired me to pursue engineering as strongly as I do now, exposing me to the best practices behind CAD, wiring, and software. In my four years on the team, my FRC team <a href="https://www.thebluealliance.com/team/2415/history">#2415</a> qualified for internationals four times in a row, won three regionals in 2011 and 2012, won Regional Chairman's Award in 2010, and were international championship division finalists in 2013.</p>

	<p> As the only girl on the build team, I also learned how to work under pressure in a male-dominated environment. I proved myself by eventually becoming team co-captain and encouraged other girls to join the team by starting a <a href="http://zerorobotics.mit.edu/">Zero Robotics</a> team that was 60% female, encouraging other girls to learn how to code. Later, I <a href="https://docs.google.com/presentation/d/1LLGsEmha5Juu0H190_mvdRIWQnGL0vivfppi37TVn8E/edit?usp=sharing">presented about my experiences</a> for Girls Who Code 2015 at Square.</p>

<br>
<button data-target="#2415-image-gallery" class="btn btn-default" data-toggle="collapse" aria-pressed="false">Toggle Image Gallery</button>

<div id="2415-image-gallery" class = "gallery container collapse">
	<br>
	{% include gallery-row-4.html gallery="2415" img1="2415_001.jpg" title1 = "Render of 2012 Robot" caption1 = "" img2 = "2415_002.jpg" title2 = "2010, 2011 and 2009 Robots" caption2 = "" img3 = "2415_003.jpg" title3 = "Programming the 2012 Robot" caption3 = ""	img4 = "2415_004.jpg" title4 = "Internationals 2012 Pits" caption4 = "" %}
	{% include gallery-row-4.html gallery="2415" img1="2415_005.jpg" title1 = "Internationals 2012 Pits" caption1 = "" img2 = "2415_006.jpg" title2 = "Internationals 2012 Pits" caption2 = "" img3 = "2415_007.jpg" title3 = "Internationals 2012 Pits" caption3 = ""	img4 = "2415_008.jpg" title4 = "Internationals 2012 Pits" caption4 = "" %}
	{% include gallery-row-2.html gallery="2415" img1="2415_009.png" title1 = "Internationals 2012" caption1 = "" img2 = "2415_010.jpg" title2 = "Internationals 2013" caption2 = "" %}
</div>


<button data-target="#2415-video-gallery" class="btn btn-default" data-toggle="collapse" aria-pressed="false">Toggle Video Gallery</button>
<div id="2415-video-gallery" class = "gallery container collapse">
	<br><br><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/bC3eu9r0_u4?rel=0" frameborder="0" allowfullscreen></iframe>
	<br><br><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/zwLzZ2wYA_A?rel=0" frameborder="0" allowfullscreen></iframe>
	<br><br><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/IvYLziL9F00?rel=0" frameborder="0" allowfullscreen></iframe>
	<br><br><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/AyGiUm9Bg0o?rel=0" frameborder="0" allowfullscreen></iframe>
</div>



<p>This work introduces a new kind of metamaterial called handed shearing auxetics (HSAs). Auxetic materials are those with a negative Poisson's ratio, meaning that they expand perpendicularly when pulled in tension (unlike most materials which contract when pulled). Shearing auxetics expand with a bias rather than just isotropically expanding. By adding chirality to a shearing auxetic pattern, we can create new structures that have a strong coupling between twisting and extension, as well as structures with selective stiffness based on the pairing of chirality. We have demonstrated the potential of HSAs by using it to create a compliant linear actuator and as a soft robotic manipulator without the need for pneumatic actuation. </p>


<h4>Paper: <a href="http://lillych.in/files/Lipton-2018-science.pdf">Handedness in shearing auxetics creates rigid and compliant structures</a></h4>

<p><a href="http://science.sciencemag.org/content/360/6389/632">Published in Science, DOI: 10.1126/science.aar4586</a> </p>

<b>Abstract:</b> In nature, repeated base units produce handed structures that selectively bond to make rigid or compliant materials. Auxetic tilings are scale-independent frameworks made from repeated unit cells that expand under tension. We discovered how to produce handedness in auxetic unit cells that shear as they expand by changing the symmetries and alignments of auxetic tilings. Using the symmetry and alignment rules that we developed, we made handed shearing auxetics that tile planes, cylinders, and spheres. By compositing the handed shearing auxetics in a manner inspired by keratin and collagen, we produce both compliant structures that expand while twisting and deployable structures that can rigidly lock. This work opens up new possibilities in designing chemical frameworks, medical devices like stents, robotic systems, and deployable engineering structures.

<center><hr width="50%"></center>

<h4>Paper: <a href="http://lillych.in/files/Chin-2018-robosoft_HSA_hands.pdf">Compliant Electric Actuators Based on Handed Shearing Auxetics</a></h4>

<p><a href="https://ieeexplore.ieee.org/document/8404904">Published in 2018 IEEE-RAS International Conference on Soft Robotics (RoboSoft), 2018.</a></p>

<p><b>Abstract:</b> In this paper, we explore a new class of electric motor-driven compliant actuators based on handed shearing auxetic cylinders. This technique combines the benefits of compliant bodies from soft robotic actuators with the simplicity of direct coupling to electric motors. We demonstrate the effectiveness of this technique by creating linear actuators, a four degree-of-freedom robotic platform, and a soft robotic gripper. We compare the soft robotic gripper against a state of the art pneumatic soft gripper, finding similar grasping performance in a significantly smaller and more energy-efficient package.</p>

<br>

<p><center><iframe width="560" height="315" src="https://www.youtube.com/embed/53NXnPTG9Ik?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center></p>

<center><hr width="50%"></center>

<h4>Paper: <a href="http://lillych.in/files/Chin-2019-icra.pdf">A Simple Electric Soft Robotic Gripper with High-Deformation Haptic Feedback</a></h4>

<p>Published in 2019 IEEE-RAS International Conference on Robotics and Automation (ICRA), 2019. </p>

<p><b>Abstract:</b> Compliant robotic grippers are more robust to uncertainties in grasping and manipulation tasks, especially when paired with tactile and proprioceptive feedback. Although considerable progress has been made towards achieving proprioceptive soft robotic grippers, current efforts require complex driving hardware or fabrication techniques. In this paper, we present a simple scalable soft robotic gripper integrated with high-deformation strain and pressure sensors. The gripper is composed of structurally-compliant handed shearing auxetic structures actuated by electric motors. Coupling deformable sensors with the compliant grippers enables gripper proprioception and object classification. With this sensorized system, we are able to identify objects' size to within 33% of actual radius and sort objects as hard / soft with 78% accuracy.</p>

<p><center><iframe width="560" height="315" src="https://www.youtube.com/embed/VASZ8P1mPsw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center></p>

<center><hr width="50%"></center>

<h4>Paper: <a href="http://lillych.in/files/Chin-2019-robosoft.pdf">Automated Recycling Separation Enabled by Soft Robotic Material Classification</a></h4>

<p>Published in 2018 IEEE-RAS International Conference on Soft Robotics (RoboSoft), 2019. </p>

<p><b>Abstract:</b> Single-stream recycling is currently an extremely labor intensive process due to the need for manual object sorting. Soft robotics offers a natural solution as compliant robots require less computation to plan paths and grasp objects in a cluttered environment. However, most soft robots are not robust enough to handle the many sharp objects present in a recycling facility. In this work, we present a soft sensorized robotic gripper which is fully electrically driven and can detect the difference between paper, metal and plastic. By combining handed shearing auxetics with high deformation capacitive pressure and strain sensors, we present a new puncture resistant soft robotic gripper. Our materials classifier has 85% accuracy with a stationary gripper and 63% accuracy in a simulated recycling pipeline. This classifier works over a variety of objects, including those that would fool a purely vision-based system.</p>

<p><center><iframe width="560" height="315" src="https://www.youtube.com/embed/slAZS78QmoA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center></p>
<p><center><iframe width="560" height="315" src="https://www.youtube.com/embed/TdzbDoEh44U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center></p>

</div>
